# MariaDB database server configuration file.
#
# You can use this file to overwrite the default configuration
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html
[mysqld]
innodb_flush_method  = O_DSYNC
collation-server     = utf8mb4_unicode_ci # Replaces utf8_general_ci
character-set-server = utf8mb4

# Accept connections from any IP address
bind-address	     = 0.0.0.0